.header{
    font-size: 30px;
}
.tag{
    padding-bottom: 30px;
}
.button{
    padding-top: 30px;
}
.block{
    margin: 10px 300px;
    padding: 20px 20px;
    border: white solid 1px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0.2, 0.2, 0, 0.3 );
}